/* MovieDetails.css */

.movie-details {
  display: flex;
  margin: 20px;
}

.movie-poster {
  flex: 1;
  margin-right: 20px;
}

.movie-poster img {
  width: 100%;
  height: auto;
}

.movie-info {
  flex: 2;
}

.movie-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info p {
  margin-bottom: 5px;
}

.movie-info strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  .movie-details {
    flex-direction: column;
  }

  .movie-poster {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
